<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%#= form.file_field :avatar %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :surname %>
        <%= f.text_field :surname, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :phone %>
        <%= f.phone_field :phone, class: 'form-control'  %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      <div class="form-group">
        <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, style: "width: 200px; display:block" %>
          <%end %>
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <p>Already have an account? <%= link_to "Log in", login_path %></p>
    <% end %>
  </div>
</div>
